/* Work Portfolio CSS file
Description: This stylesheet applies the styling for the udacity work portfolio.
 */

/* Element Selectors:
-----------------------
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

/* Class Selectors:
--------------------
*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* Wrapper Selectors: */

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* Banner Selectors: */

.banner {
  padding: 5em 0;
}

.banner h1 {
  color: #2d3c49;
  text-align: right;
  font-size: 4em;
  display: inline;
}

/* Logo Selectors: */

.logo {
  background: #02b3e4;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  transition: border-radius 0.618s;
}

.banner h1,
.banner .logo {
  margin: 0 auto;
}

.logo:hover {
  border-radius: 21%;
}

.header_name {
  border-bottom: 3px solid #7d97ad;
  font-weight: 700;
}

/* Works header rules: */

.featured_works_header {
  color: #fff;
  font-weight: 700;
  font-size: 4.618em;
  border-bottom: 5px solid #02b3e4;
  margin: 0;
}

/* Work section rules: */

.work {
  background: #2d3c49;
  padding: 5em 0;
}

.work .card {
  background: #fff;
  border-radius: .35em;
  height: 450px;
  display: table;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 0.3618em;
}

.work .card_full {
  width: 100%;
}

.work .card_1 {
  order: 1;
  margin: 21px 0;
  background-image: url("../images/porschr.jpeg");
  background-size: 100%;
  background-position: center;
}

.work .card_2 {
  order: 2;
  background-image: url("../images/myreads.jpg");
  background-size: 300%;
  background-position: center;
}

.work .card_3 {
  order: 3;
  background-image: url("../images/movie_site.jpg");
  background-size: 200%;
  background-position: center;
}

.work .card_4 {
  order: 4;
  background-image: url("../images/pharmacy.jpeg");
  background-size: 200%;
  background-position: center;
  margin-top: 10px;
}

.work .card_inner {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 1.5em 12%;
  color: #fff;
}

.work .card_inner p {
  font-size: 2.618em;
  text-transform: uppercase;
  font-weight: 700;
}

.work .card_inner h2 {
  font-size: 4em;
  margin: 0;
}

.work .pink {
  background: rgba(230, 56, 222, 0.618);
}

.work .card_half {
  width: 48%;
  float: left;
}

.work .card_third {
  width: 61.8%;
  float: left;
}

.work .view_more {
  width: 25%;
  float: left;
  height: 450px;
  padding-left: 3em;
  order: 5;
}

.work .view_more a {
  text-decoration: none;
}

.work .view_more a:hover p {
  color: #02b3e4;
}

.work .view_more p {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 450px;
  margin: 0;
  color: #9292ab;
}

.work .left {
  margin-left: 1.5%;
}

.work .right {
  margin-right: 1.5%;
}

.work .tall {
  height: 700px;
}

.work .green {
  background: rgba(80, 216, 93, 0.618);
}

.work .purple {
  background: rgba(145, 89, 219, 0.618);
}

.work .blue {
  background: rgba(131, 226, 245, 0.618);
}

.work .pink,
.work .green,
.work .purple,
.work .blue {
  border-radius: 0.3618em;
}

/* Footer Selectors: */

footer {
  padding: 3em 0;
}

footer .logo {
  float: left;
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 1em;
}

footer ul li {
  display: inline;
  float: left;
  margin-left: 4em;
}

footer ul li .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.618em;
  display: block;
  padding-bottom: 0.618em;
}

footer ul li .links {
  font-size: 1.618em;
}

footer ul li .links a {
  color: #2d3c49;
  text-decoration: none;
}

footer ul li .links a p:hover {
  color: #02b3e4;
}

/* Media Queries (Responsive Design): */

/* Small Screen Media Query: */

@media screen and (min-width: 359px) and (max-width: 521px) {
  .banner h1 {
    font-size: 1em;
    margin-right: 8px;
  }
  .banner .logo {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 3px;
  }
  .logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 3px;
  }
  .header_name {
    font-size: 1.618em;
    border-bottom: 1.618px solid #7d97ad;
  }
  .featured_works_header {
    font-size: 2.618em;
  }
  .featured_works_header .featured_works_header_text {
    margin-left: 0.1618em;
  }
  .work .card_inner p {
    font-size: 1em;
  }
  .work .card_inner h2 {
    font-size: 1.618em;
  }
  .work .card_1,
  .work .card_2,
  .work .card_3,
  .work .card_4 {
    height: 250px;
    margin: 10px;
    width: 95%;
  }
  .work .view_more {
    width: 100%;
    height: 250px;
  }
  .work .view_more p {
    line-height: 250px;
  }
  footer .logo {
    float: none;
    width: 98%;
    margin: auto;
    border-radius: 13px;
  }
  footer ul li {
    margin-left: 0;
    float: none;
  }
}

@media screen and (min-width: 471px) and (max-width: 521px) {
  .banner .logo {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin-left: 5%;
  }
}

/* Mobile device screen size media query: */

@media screen and (min-width: 521px) and (max-width: 768px) {
  .logo {
    transition: border-radius 0.618s;
  }
  .logo:hover {
    border-radius: 10%;
  }
  .banner h1 {
    font-size: 1.618em;
  }
  .banner .logo {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin-left: 5%;
  }
  .logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 3px;
  }
  .header_name {
    font-size: 1.618em;
    border-bottom: 1.618px solid #7d97ad;
  }
  .featured_works_header {
    font-size: 2.618em;
  }
  .featured_works_header .featured_works_header_text {
    margin-left: 0.1618em;
  }
  .work .card_inner p {
    font-size: 1em;
  }
  .work .card_inner h2 {
    font-size: 1.618em;
  }
  .work .card_1,
  .work .card_2,
  .work .card_3,
  .work .card_4 {
    height: 250px;
    margin: 10px;
    width: 95%;
  }
  .work .view_more {
    width: 100%;
    height: 250px;
  }
  .work .view_more p {
    line-height: 250px;
  }
  footer .logo {
    float: none;
    width: 98%;
    margin: auto;
    border-radius: 13px;
  }
  footer ul li {
    margin-left: 0;
    float: none;
  }
}

/* Tablet size screen size media queries: */

@media screen and (min-width: 768px) and (max-width: 768px) {
  .banner h1 {
    font-size: 2em;
    margin-right: 3%;
  }
  .banner .logo {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: 5%;
    font-size: 1.618em;
  }
  .work .card_1,
  .work .card_2,
  .work .card_3,
  .work .card_4 {
    margin: 5px;
  }
  .work .card_half {
    width: 48%;
    float: left;
  }
  .work .card_third {
    width: 61.8%;
    float: left;
  }
  .work .view_more {
    width: 25%;
    float: left;
    height: 450px;
    padding-left: 3em;
  }
  .work .view_more a {
    text-decoration: none;
  }
  .work .view_more a:hover p {
    color: #02b3e4;
  }
  .work .view_more p {
    font-size: 1em;
    font-weight: 700;
    line-height: 450px;
    margin: 0;
    color: #9292ab;
  }
  footer {
    padding: 3em 0;
  }
  footer .logo {
    float: none;
    margin: auto;
  }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 1em;
  }
  footer ul li {
    display: inline;
    float: left;
    margin-left: 4em;
  }
  footer ul li .title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.618em;
    display: block;
    padding-bottom: 0.618em;
  }
  footer ul li .links {
    font-size: 1.618em;
  }
  footer ul li .links a {
    color: #2d3c49;
    text-decoration: none;
  }
  footer ul li .links a:hover {
    color: #02b3e4;
  }
}

/* Big tablets and laptop screen sizes media queries: */

@media screen and (min-width: 769px) and (max-width: 892px) {
  .banner h1 {
    font-size: 3em;
    margin-right: 3%;
  }
  .banner .logo {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin-left: 5%;
  }
  .work .view_more p {
    font-size: 1em;
  }
}

/* Laptop and Desktop Screen sizes: */

@media screen and (min-width: 852px) and (max-width: 903px) {
  .banner h1 {
    font-size: 3em;
    margin-right: 5%;
  }
  .banner .logo {
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: 5%;
  }
}