$pink: #ea48eb;
$white: #ffffff;
$grey: #414148;
$udacity_lightblue: #02b3e4;
$udacity_darkgray: #2d3c49;
$udacity_lightgray: #7d97ad;

@mixin bg_img($url, $size, $position) {
  background-image: url($url);
  background-size: $size;
  background-position: $position;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.banner {
  padding: 5em 0;
  .logo {
    float: left;
  }
  h1 {
    color: $udacity_darkgray;
    text-align: right;
    font-size: 4em;
    display: inline;
    float: right;
    margin: 0;
  }
}

.logo {
  background: $udacity_lightblue;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  line-height: 75px;
  color: $white;
  font-size: 1.1em;
  text-align: center;
  transition: border-radius 0.618s;
  &:hover{
  border-radius: 21%;
  }
}

.header_name{
  border-bottom: 3px solid $udacity_lightgray;
  font-weight: 700;
}

.row {
  width: 100%;
  margin-bottom: 2em;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.featured_works_header {
  color: $white;
  font-weight: 700;
  font-size: 4.618em;
  border-bottom: 5px solid $udacity_lightblue;
  margin: 0;
}

.work {

  background: $udacity_darkgray;
  padding: 5em 0;

  .card {
    background: $white;
    border-radius: .35em;
    height: 450px;
    display: table;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 0.3618em;
  }

  .card_full {
    width: 100%;
  }

  .card_1 {
    @include bg_img('../images/porschr.jpeg', 100%, center);
  }

  .card_2 {
    @include bg_img('../images/myreads.jpg', 300%, center);
  }

  .card_3 {
    @include bg_img('../images/movie_site.jpg', 200%, center);
  }

  .card_4 {
    @include bg_img('../images/pharmacy.jpeg', 200%, center);
  }

  .card_inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 1.5em 12%;
    color: $white;
    p {
      font-size: 2.618em;
      text-transform: uppercase;
      font-weight: 700;
    }
    h2 {
      font-size: 4em;
      margin: 0;
    }
  }
  .pink {
    background: rgba(230, 56, 222, .618);
  }

  .card_half {
    width: 48%;
    float: left;
  }

  .card_third {
    width: 61.8%;
    float: left;
  }

  .view_more {
    width: 25%;
    float: left;
    height: 450px;
    padding-left: 3em;
    a {
      text-decoration: none;
      &:hover {
        p {
          color: $udacity_lightblue;
        }
      }
    }

    p {
      font-size: 1.25em;
      font-weight: 700;
      line-height: 450px;
      margin: 0;
      color: rgba(146, 146, 171, 1);
    }
  }

  .left {
    margin-left: 1.5%;
  }

  .right {
    margin-right: 1.5%;
  }

  .tall {
    height: 700px;
  }

  .green {
    background: rgba(80, 216, 93, 0.618);
  }

  .purple {
    background: rgba(145, 89, 219, 0.618);
  }

  .blue {
    background: rgba(131, 226, 245, 0.618);
  }

  .pink, .green, .purple, .blue {
    border-radius: 0.3618em;
  }
}

footer {

  padding: 3em 0;

  .logo {
    float: left;
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 1em;
    li {
      display: inline;
      float: left;
      margin-left: 4em;
      .title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.618em;
        display: block;
        padding-bottom: 0.618em;
      }
      .links {
        font-size: 1.618em;
        a {
          color: $udacity_darkgray;
          text-decoration: none;
          p:hover{
            color: $udacity_lightblue;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 359px) and (max-width: 521px) {
  .banner {
    h1 {
      font-size: 1em;
      margin-right: 8px;
    }
    .logo {
      float: left;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin: 3px;
    }
  }

  .logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 3px;
  }

  .header_name {
    font-size: 1.618em;
    border-bottom: 1.618px solid $udacity_lightgray;
  }

  .featured_works_header {
    font-size: 2.618em;
    .featured_works_header_text {
      margin-left: 0.1618em;
    }
  }

  .work {
    .card_inner {
      p {
        font-size: 1em;
      }
      h2 {
        font-size: 1.618em;
      }
    }
    .card_1, .card_2, .card_3, .card_4 {
      height: 250px;
      margin: 10px;
      width: 95%;
    }

    .view_more {
      width: 100%;
      height: 250px;
      p {
        line-height: 250px;
      }
    }
  }

  footer {
    .logo {
      float: none;
      width: 98%;
      margin: auto;
      border-radius: 13px;
    }
    ul {
      li {
        margin-left: 0;
        float: none;
      }
    }
  }

}

@media screen and (min-width: 471px) and (max-width: 521px) {
  .banner {
    .logo {
      width: 75px;
      height: 75px;
      line-height: 75px;
      margin-left: 5%;
    }
  }
}

@media screen and (min-width: 521px) and (max-width: 768px) {

  .logo {
    transition: border-radius 0.618s;
    &:hover{
      border-radius: 10%;
    }
  }

  .banner {
    h1 {
      font-size: 1.618em;
      margin-right: 8px;
    }
    .logo {
      width: 75px;
      height: 75px;
      line-height: 75px;
      margin-left: 5%;
    }
  }

  .logo {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 3px;
  }

  .header_name {
    font-size: 1.618em;
    border-bottom: 1.618px solid $udacity_lightgray;
  }

  .featured_works_header {
    font-size: 2.618em;
    .featured_works_header_text {
      margin-left: 0.1618em;
    }
  }

  .work {
    .card_inner {
      p {
        font-size: 1em;
      }
      h2 {
        font-size: 1.618em;
      }
    }
    .card_1, .card_2, .card_3, .card_4 {
      height: 250px;
      margin: 10px;
      width: 95%;
    }

    .view_more {
      width: 100%;
      height: 250px;
      p {
        line-height: 250px;
      }
    }
  }

  footer {
    .logo {
      float: none;
      width: 98%;
      margin: auto;
      border-radius: 13px;
    }
    ul {
      li {
        margin-left: 0;
        float: none;
      }
    }
  }

}

@media screen and (min-width: 768px) and (max-width: 768px) {

  .banner {
    h1 {
      font-size: 2em;
      margin-right: 3%;
    }
    .logo {
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-left: 5%;
      font-size: 1.618em;
    }
  }

  .work {

    .card_1, .card_2, .card_3, .card_4 {
      margin: 8px;
    }

    .card_half {
      width: 48%;
      float: left;
    }

    .card_third {
      width: 61.8%;
      float: left;
    }

    .view_more {
      width: 25%;
      float: left;
      height: 450px;
      padding-left: 3em;
      a {
        text-decoration: none;
        &:hover {
          p {
            color: $udacity_lightblue;
          }
        }
      }

      p {
        font-size: 1em;
        font-weight: 700;
        line-height: 450px;
        margin: 0;
        color: rgba(146, 146, 171, 1);
      }
    }
  }


  footer {

    padding: 3em 0;

    .logo {
      float: none;
      margin: auto;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 1em;
      li {
        display: inline;
        float: left;
        margin-left: 4em;
        .title {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 0.618em;
          display: block;
          padding-bottom: 0.618em;
        }
        .links {
          font-size: 1.618em;
          a {
            color: $udacity_darkgray;
            text-decoration: none;
            &:hover{
              color: $udacity_lightblue;
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width: 769px) and (max-width: 892px) {

  .banner {
    h1 {
      font-size: 3em;
      margin-right: 3%;
    }
    .logo {
      width: 75px;
      height: 75px;
      line-height: 75px;
      margin-left: 5%;
    }
  }

  .work {
    .view_more {
      p {
        font-size: 1em;
      }
    }
  }
}

@media screen and (min-width: 852px) and (max-width: 903px) {
  .banner {
    h1 {
      font-size: 3em;
      margin-right: 5%;
    }
    .logo {
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-left: 5%;
    }
  }
}